{% extends 'base.html'%}
{% block title%}
Add Batch
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard' %}">
        Dashboard <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addCourses' %}">
        Add Course
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'addBatch' %}">
        Add Batch
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addInstructor' %}">
        Add Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addStudent' %}">
        Add Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managei' %}">
        Manage Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'manages' %}">
        Manage Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managec' %}">
        Manage Course
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'manageb' %}">
        Manage Batch
    </a>
</li>


{% endblock sidebarstuff %}

{% block maincontent %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">Add Batch</h3>
                </div>
                <form role="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Batch Name</label>
                            <input type="text" class="form-control" placeholder="Batch Name" name="batch_name" required>
                        </div>
                        <div class="form-group">
                            <label>Course Name</label>
                            <select class="form-control" name="course_id">
                                {% for course in courses %}
                                <option value="{{ course.id }}"> {{ course.course_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Instructor Teaching</label>
                            <select class="form-control" name="instructor_id">
                                {% for instructor in instructors %}
                                <option value="{{ instructor.id }}"> {{ instructor.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Start Time</label>
                            <input type="time" class="form-control" placeholder="Start Time" name="start_time" required>
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <input type="time" class="form-control" placeholder="End Time" name="end_time" required>
                        </div>
                        <div class="form-group">
                            <label>Days</label><br/>
                            <label class="checkbox-inline"><input type="checkbox" name="day" value="Mon"> Monday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Tue"> Tuesday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Wed"> Wednesday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Thu"> Thursday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Fri"> Friday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Sat"> Saturday</label>
                            <label class="checkbox-inline ml-2"><input type="checkbox" name="day" value="Sun"> Sunday</label>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block">Add Batch to Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock maincontent %}