{% extends 'base.html'%}
{% block title%}
Admin Dashboard
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link active" href="{% url 'dashboard' %}">
        <span data-feather="home"></span>
        Dashboard <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addCourses' %}">
        <span data-feather="file"></span>
        Add Course
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addBatch' %}">
        <span data-feather="shopping-cart"></span>
        Add Batch
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addInstructor' %}">
        <span data-feather="users"></span>
        Add Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addStudent' %}">
        <span data-feather="bar-chart-2"></span>
        Add Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managei' %}">
        <span data-feather="layers"></span>
        Manage Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'manages' %}">
        <span data-feather="layers"></span>
        Manage Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managec' %}">
        <span data-feather="layers"></span>
        Manage Course
    </a>
</li>

{% endblock sidebarstuff %}