{% extends 'base.html'%}
{% block title%}
Admin Dashboard
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link active" href="{% url 'dashboard' %}">
        Dashboard <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addCourses' %}">
        Add Course
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addBatch' %}">
        Add Batch
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addInstructor' %}">
        Add Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'addStudent' %}">
        Add Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managei' %}">
        Manage Instructor
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'manages' %}">
        Manage Student
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'managec' %}">
        Manage Course
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'manageb' %}">
        Manage Batch
    </a>
</li>


{% endblock sidebarstuff %}