{% extends 'base.html'%}
{% block title%}
Marks
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link" href="{% url 'insdashboard' %}">
        Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'insbatch' %}">
        Batches
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'insmarks' %}">
        Marks
    </a>
</li>
{% endblock sidebarstuff %} 

{% block maincontent %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">Date of Tests</h3>
                </div>
                <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                
                <div class="card-body table-responsive p-0">
                    <div class="text-center mt-1"> 
                        <a href="create_marks/{{bat}}" class="btn btn-success">Add new Test</a>
                    </div>
                    <br/>
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mark in marks %}
                            <tr>
                                <td>{{ mark.id }}</td>
                                <td>{{ mark.test_date|date:'M d, Y' }}</td>
                                <td><a href="/add_marks/{{ mark.id }}" class="btn btn-success">Add Marks</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock maincontent %}