{% extends 'base.html'%}
{% block title%}
Attendance
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link" href="{% url 'insdashboard' %}">
        Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'insbatch' %}">
        Batches
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'takeattendance' %}">
        Take Attendance
    </a>
</li>
{% endblock sidebarstuff %} 

{% block maincontent %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">Take Attendance</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Batch</th>
                                <th>Course Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Days</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for batch in batches %}
                            <tr>
                                <td>{{ batch.batch_name }}</td>
                                <td>{{ batch.course_id }}</td>
                                <td>{{ batch.start_time }}</td>
                                <td>{{ batch.end_time }}</td>
                                <td>{{ batch.days}}</td>
                                <td><a href="/take_attendance/{{ batch.id }}" class="btn btn-info">Take Attendance</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock maincontent %}