{% extends 'base.html'%}
{% block title%}
Attendance List
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link" href="{% url 'insdashboard' %}">
        Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'insbatch' %}">
        Batches
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'insmarks' %}">
        Marks
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'insreport' %}">
        Generate Report
    </a>
</li>
{% endblock sidebarstuff %} 

{% block maincontent %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">Attendance of Batch {{ batch.batch_name}}</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for att in atts %}
                            <tr>
                                <td>{{ att.id }}</td>
                                <td>{{ att.attendance_date|date:"M d, Y" }}</td>
                                <td><a href="att_students/{{att.id}}/{{ batch.id }}" class="btn btn-warning">View Attendance</a>
                                    <a href="delete_att/{{ att.id }}" class="btn btn-danger">Delete Attendance</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock maincontent %}