{% extends 'base.html'%}
{% block title%}
Your Marks
{% endblock title %}

{% block sidebarstuff %}
                        
<li class="nav-item">
    <a class="nav-link" href="{% url 'studashboard' %}">
        Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'stucourses' %}">
        Batches
    </a>
</li>


{% endblock sidebarstuff %} 

{% block maincontent %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">Marks for batch {{batch.batch_name}}</h3>
                </div>
                <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body table-responsive p-0">
                    <div class="text-center"><p>NOTE: 0 may indicate that marks are not assigned yet.</p></div><br/>
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for markk in marks %}
                            <tr>
                                <td>{{ markk.mark_id.test_date|date:'M d, Y' }}</td>
                                <td>{{ markk.mark}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock maincontent %}